numpy
scipy
pandas
matplotlib
pillow
tqdm
joblib
h5py

opencv-python
opencv-contrib-python
scikit-learn
tensorflow
tensorflow-gpu
keras
http://download.pytorch.org/whl/cu90/torch-0.3.0.post4-cp36-cp36m-linux_x86_64.whl 
torchvision

